body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
:root {
  --primary-color: hsl(210, 50%, 50%);
  --secondary-color: hsl(230, 50%, 50%);
  --tertiary-color: hsl(250, 50%, 50%);
  --danger-color: red;
  --success-color: hsl(500, 50%, 50%);
  --warning-color: hsl(800, 50%, 50%);
}

.icon {
  width: 80px;
  height: 30px;
}
.email-warning {
  color: var(--primary-color)
}
.email-warning-danger {
  color: var(--danger-color)
}
.email-warning-success {
  color: var(--success-color)
}
.nav-icons {
  width: 25px;
  height: 25px;
}